body {
  padding: 0;
  margin: 0;
}
.NavContainer {
  display: flex;
  justify-content: space-between;
  background-color: #0a0e26;
  z-index: 100;
  padding: 0px 50px 10px;
  align-items: center;
}
.Navlogo {
  display: flex;
  margin-left: 55px;
  cursor: pointer;
  align-items: center;
}
.Navlogo h2 {
  font-family: "Archivo Black";
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 15px;
}
.logoImg {
  padding-left: 20px;
}

.Navlogo img {
  width: 40px;
  margin-top: 18px;
  margin-left: -14px;
  height: 40px;
  border-radius: 50%;
}
.NavLinks {
  padding-top: 20px;
  padding-right: 40px;
}
.NavLinks ul {
  display: flex;
}
.NavLinks li {
  list-style-type: none;
  margin-right: 15px;
}
.NavLinks a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.2s ease-in;
}
.NavLinks a:hover{
    font-weight: 900;

}

/* -------------------------------- */

/* Home */

.homecontainer {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ),
    url("../imgs/main.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 105vh;
}
.homecontainer h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 45px;
  margin: 5px;
}
.homecontainer p {
  margin: 0;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 25px;
}
.homecontainer .content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btns {
  text-align: center;
  margin-top: 40px;
}
.btns button {
  padding: 15px;
  color: white;
  border-radius: 10px;
  background: linear-gradient(135deg, #1e293b, #3b82f6);
  border: none;
  transition: all 0.3s ease;
  margin: 0 10px;
  width: 230px;
  font-weight: 600;
}

.btns button {
  padding: 15px;
  color: white;
  border-radius: 10px;
  background-color: #1e3a8a; 
  transition: all 0.3s ease;
  margin: 0 10px;
  width: 230px;
  font-weight: 600;
}

.btns button:hover {
  background-color: #2563eb; 
  box-shadow: 0 0 15px #3b82f6;
  transform: scale(1.08);
}


.btns button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

/* ------------------------------------- */

.whyContainer {
  background-color: #0f132a;
  text-align: center;
  margin-top: -30px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.whyContainer h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 35px;
}
.whyContainer .childs {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  margin-top: 25px;
  column-gap: 20px;
}
.whyContainer .child {
  background-color: #181c33;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25);
  width: 24%;
  padding: 25px 25px ;
}
.whyContainer p {
  margin: 0;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.whyContainer .child p {
  text-align: left;
  margin: 0;
  font-style: normal;
  color: RGBA(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.whyContainer .child .head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.whyContainer .child img {
  width: 50px;
  height: 50px;
}
.whyContainer .child h5 {
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;
  color: RGB(255, 255, 255);
  text-align: center;
  font-size: 20px;
}
/* ---------------------------------------- */

.diplomasContainer {
  padding-top: 40px;
  text-align: center;
  background-color: #0a0e26;
}
.diplomasContainer h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 35px;
}
.diplomasChilds {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}
.diplomasChilds .card {
  width: 25%;
  border: none;
  height: fit-content;
  border-radius: 3%;
  overflow: hidden;
  transition: all 0.4s;

}
.diplomasChilds .card:hover{
  transform: translateY(-5px);
}
.diplomasChilds .card img {
  height: 230px;
}
.diplomasChilds .card p {
  color: #0a0e26;
  font-size: 16px;
  font-weight: 400;
}
.diplomasContainer .see-btn {
  border: 1px solid white;
  color: white;
  transition: all 0.5s;
  width: 200px;
}
.diplomasContainer .see-btn:hover {
  background-color: #0e4aa3;
  width: 250px;
}
/* ------------------------------------------ */


.footerContainer{
  background-color:#0C1030 ;
  color: white;
  padding: 15px 0px;
  text-align: center;
}
.footerContainer svg{
  color: white;
  width: 25px;
  height: 20px;
transition: all 0.3s;
}
.footerContainer .face:hover{
  color: #1877F2;
}
.footerContainer .twitter:hover{
  color: #000000;
}
.footerContainer .linkedin:hover{
  color: #0A66C2;
}
.footerContainer ul{
  justify-content: center;
  list-style: none;
  column-gap: 15px;
}